<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/" ng-click="toggle('#/')">Code Louisville Capstone Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active" ng-click="activate(this)"><a href="#/">Home</a></li>
            <li><a href="#/RecipeList" ng-click="activate(this)">Recipe List</a></li>
            -->
            <li ng-repeat="nav in navItems" ng-class="{'active': isActive(nav.path)}"><a href="{{nav.path}}" ng-click="toggle(nav.path)">{{nav.title}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>