<div class="recipe">
    <div>
        <a class="btn btn-default" href="#/RecipeList" ng-hide="editing">Back</a>
        <a class="btn btn-default" href="" ng-click="editing = true" ng-hide="editing">Edit</a>
        <a class="btn btn-default" href="" ng-click="editing = false" ng-show="editing">Cancel</a>
        <a class="btn btn-default" href="" ng-click="saveRecipe()" ng-show="editing">Save</a>
        <a class="btn btn-default" href="" ng-click="deleteRecipe()" ng-hide="editing">Delete</a>
    </div>

    <h3 ng-show="editing">Recipe Name</h3>
    <h1 ng-hide="editing">{{recipe.name}}</h1>
    <input ng-show="editing" ng-model="recipe.name" type="text">
    
    <h3>Ingredients</h3>
    <div class="button-box"><a class="btn btn-default" href="" ng-click="addIngredient()" ng-show="editing">Add Ingredient</a></div>
    <div ng-repeat="ingredient in recipe.ingredients" class="ingredient">
        <span ng-hide="editing">{{ingredient.ingredient}}</span> 
        <input type="text" ng-show="editing" ng-model="ingredient.ingredient">
        <input type="button" class="btn btn-default btn-xs" value="Delete" ng-click="deleteIngredient($index)" ng-show="editing">
    </div>

    <h3>Directions</h3>
    <div class="button-box"><a class="btn btn-default" href="" ng-click="addDirection()" ng-show="editing">Add Direction</a></div>
    <ol>
        <li ng-repeat="direction in recipe.directions">
                <p ng-hide="editing">{{direction.direction}}</p>
                <textarea rows="5" cols="100" ng-show="editing" ng-model="direction.direction"></textarea>
                <input type="button" class="btn btn-default btn-xs" value="Delete" ng-click="deleteDirection($index)" ng-show="editing">
        </li>
    </ol>
</div>